.badge {
    text-align: center;
    background-color: #F5F6F7;
    color: #44566C;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    font-size: 0.9375rem;
    font-weight: 400;
    border-radius: 10rem;
    padding: 0.5rem 1rem;
    display: inline-block;
}

.textCenter {
    text-align: center !important;
}

.user_name {
    font-size: 1.8125rem;
    margin-bottom: 0.875rem;
    position: relative;
    display: block;
}
